<html>
        <head>
                <!-- THIS IS THE SKELETON TEMPLATE -->
                <!-- Basic Page Needs
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <meta charset="utf-8">
                <title>Your page title here :)</title>
                <meta name="description" content="">
                <meta name="author" content="">
              
                <!-- Mobile Specific Metas
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <meta name="viewport" content="width=device-width, initial-scale=1">
              
                <!-- FONT
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
              
                <!-- CSS
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

                <!-- Favicon
                –––––––––––––––––––––––––––––––––––––––––––––––––– -->
                <link rel="icon" type="image/png" href="images/favicon.png">
              









                
                <!-- LINK TO OUR STYLESHEET -->
                <link rel="stylesheet" href="/static/styles/style.css" type="text/css">

              </head>
<body>

{% block content %}

{% endblock%}